spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/eduadmin?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      # 连接池启动时创建的最小连接数量
      initial-size: 5
      # 连接池中始终保持的最少空闲连接数量。即使没有请求，也会保留这些连接
      min-idle: 5
      # 同一时间最多可以有多少个数据库连接被使用
      max-active: 20
      # 获取连接的最大等待时间（毫秒）
      max-wait: 60000
      # 空闲连接回收器运行间隔（毫秒）
      time-between-eviction-runs-millis: 60000
      # 连接最小空闲时间（毫秒）
      min-evictable-idle-time-millis: 300000
      # 用来检测连接是否有效的 SQL 语句
      validation-query: SELECT 1
      # 空闲时是否检测连接有效性
      test-while-idle: true
      # 从连接池获取连接时是否检测有效性，默认为false
      # test-on-borrow: false
      # 归还连接到池中时是否检测有效性
      # test-on-return: false
      # 是否缓存 PreparedStatement
      pool-prepared-statements: true
      # 每个连接最多缓存多少个 PreparedStatement,默认值10
      max-pool-prepared-statement-per-connection-size: 20
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
